
.div4{
	height: 500px;
	display: flex;
	background: #08114A;
	box-sizing: border-box;
	justify-content:center;
	align-items: center;
}
.slider{
	width: 600px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 100px;
}
.images{
	width: 600px;
	display: flex;
}

.gif1{
	width: 300px;
	height: 300px;
	margin-right: 30px;
}

.gif2{
	width: 300px;
	height: 300px;
}

.images .slide{
	width: 600px;
	height: 400px;
	background-size: cover;
	transition: all 1s ease;
}

.images .i1{
	display: none;
}
.dots{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.dots .lab1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	transition: all 2s;
	margin: 5px;
}

.click{
	color: white;
	text-align: center;
}

.dots label:hover{
	background: white;
}
#image1:checked ~ .m1{
	margin-left: 0;
}
#image2:checked ~ .m1{
	margin-left: -100%;
}
#image3:checked ~ .m1{
	margin-left: -200%;
}
#image4:checked ~ .m1{
	margin-left: -300%;
}
#image5:checked ~ .m1{
	margin-left: -400%;
}
#image6:checked ~ .m1{
	margin-left: -500%;
}
#image7:checked ~ .m1{
	margin-left: -600%;
}
#image8:checked ~ .m1{
	margin-left: -700%;
}
#image9:checked ~ .m1{
	margin-left: -800%;
}
#image10:checked ~ .m1{
	margin-left: -900%;
}